*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.leftsidemenu{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #042331;
}

.leftsidemenu header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background-color: #063146;
    user-select: none;
    transition: all .5s ease;
}

.leftsidemenu ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgb(255,255,255,0.1);
    border-bottom: 1px solid black;
    transition: 0.4s;
}

ul li:hover a{
    padding-left: 50px;
    color: rebeccapurple;
}

.leftsidemenu ul a i{
    margin-right: 16px;
}

#checkboxid{
    display: none;
}

label #btn, label #close{
    position: absolute;
    cursor: pointer;
    background-color: #042331;
    border-radius: 3px;
}

label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}

label #close{
    z-index: 1;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
}

#checkboxid:checked ~ .leftsidemenu{
    left:0;
}

#checkboxid:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}

#checkboxid:checked ~ label #close{
    left: 195px;
}

section{
    background: url(/left-side-menu/img/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}

#checkboxid:checked ~ section{
    margin-left: 250px;
}

header span{
    color: rgb(17,139,221);
    font-weight: bold;
}

@media (max-width:991px){

    .leftsidemenu{
        left: -250px;
        width: 250px;
        height: 100%;
        background-color:#042331 ;
        overflow: scroll;
    }

}